{% extends 'base.html' %}
{% block title %}
Short News
{% endblock %}
{% block head %}
<style>
    div {
        /* border: 1px solid black; */
    }

    .hover_div{
        background: rgb(219, 220, 229);
    }
    .hover_div:hover{
        border: 2px solid rgb(52, 53, 56);
        background: rgb(99, 102, 108);
        font-size: larger;
    }

    .hover_headline{
        text-align: left;
    }
    .hover_headline:hover{
        color: white;
        /* font-weight: bold; */
    }
</style>
{% endblock %}

{% block body %}
<div class="container-xxl" style="background: rgb(123, 123, 255);">
    <div style="height: 200px;"></div>
    <p class="fw-bold p-4" style="color:white; font-size: 70px;">{{news_category}} News</p>
</div>



{% for index in range(news_list_size) %}
<div class="container p-4 mt-4 rounded hover_div">
    <div class="row p-1">
        <div class="col-lg-4">
            <img class="rounded border border-dark border-2"
                src="{{news_list[index].image_src}}"
                alt="" style="height: 200px;">
        </div>
        <div class="col">
            <button type="button" data-bs-toggle="modal" data-bs-target="#id{{index}}"
                style="background: transparent; border:0px;">
                <h4  class="hover_headline">{{news_list[index].headline}}</h4>
            </button>
        </div>
    </div>
</div>
<div class="modal modal-dialog-scrollable" id="id{{index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="exampleModalLabel">{{news_list[index].headline}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{news_list[index].summary}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a href="{{news_list[index].link}}" target="_blank" style="color: white; text-decoration: none;"> Read Original News </a></button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}



