{% extends 'base.html' %}
{% block title %}
  Abstractive Summarization
{% endblock %}

{% block head %}
    <style>
        div{
            /* border: 1px solid black; */
        }
    </style>
{% endblock %}



{% block body %}
<div class="container p-5 mx-auto mt-5 rounded" style="background-image: linear-gradient(#639cff,#639cff);">
    <form action="#" method="POST">
        <div class="mb-3 container">
            <div class="row">
                <div class="col-sm mx-auto">
                    <input type="text" name="headline" class="form-control" placeholder="Enter The Topic (recommended for better output)">
                    <br>
                    <textarea name="input_text" class="form-control" rows="11" placeholder="Enter the Main Text" required></textarea>
                    <br>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary" style="text-align: center;">Summarize</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-lg mt-5" style="border-radius: 10px; border: 3px blue dotted; background: rgb(214, 222, 255);">
    <div class="row">
        <div class="col-md p-5" style="border-radius: 10px; border-right: 3px blue dotted;">
            <h3 style="text-align: center; font-weight: bold;" class="mt-1 mb-3">Input Text</h3>
            <h4>Reading Time: {{input_text_reading_time}} min</h4>
            <p>{{ input_text }}</p>
        </div>
        <div class="col-md p-5" style="border-radius: 10px; border-left: 3px blue dotted;">
            <h3 style="text-align: center; font-weight: bold;" class="mt-1 mb-3">Summarized Text</h3>
            <h4>Reading Time: {{ summarized_text_reading_time }} min</h4>
            <p>{{ summarized_text }}</p>
        </div>
    </div>
</div>
{% endblock %}