{% extends 'base.html' %}
{% block title %}
Compare Algorithm Page
{% endblock %}


{% block body %}
<div class="container p-5 mx-auto mt-5 rounded" style="background-image: linear-gradient(#639cff,#639cff);">
    <form action="#" method="POST">
        <div class="mb-3 container">
            <div class="row">
                <div class="col-sm mx-auto">
                    <input type="text" name="headline" class="form-control"
                        placeholder="Enter The Topic (recommended for better output)">
                    <br>
                    <textarea name="input_text" class="form-control" rows="11" placeholder="Enter the Main Text"
                        required></textarea>
                    <br>
                    <div class="container justify-center">
                        <div class="row ">
                            <div class="col">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button type="reset" class="btn"
                                        style="text-align: center; background: blue; color: white;">CLEAR</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button type="submit" class="btn"
                                        style="text-align: center; background: blue; color: white;">SUMMARY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container mt-5">
    <div class="col-md p-3" style="border-radius: 10px; border: 3px rgb(114, 114, 251) dashed; background: rgb(214, 222, 255);">
        <h1 style="text-align: center;" class="mt-1 mb-3">Input Text</h1>
        <h4>Reading Time: {{ parameter_dictionary["input_text_reading_time"] }} min</h4>
        <h5>{{ parameter_dictionary["input_text"] }}</h5>
    </div>
</div>

<div class="container mt-5">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a href="#tab1contain" class="nav-link fs-4 text-dark" data-toggle="tab">Spacy</a>
        </li>
        <li class="nav-item">
            <a href="#tab2contain" class="nav-link fs-4 text-dark" data-toggle="tab">NLTK</a>
        </li>
        <li class="nav-item">
            <a href="#tab3contain" class="nav-link fs-4 text-dark" data-toggle="tab">Sumy</a>
        </li>
        <li class="nav-item">
            <a href="#tab4contain" class="nav-link fs-4 text-dark" data-toggle="tab">SBERT</a>
        </li>
    </ul>

    <div class="tab-content container">
        <div class="tab-pane" id="tab1contain">
            <br>
            <div>
                <h1 style="text-align: center;" class="mt-1 mb-3">Spacy Summary</h1>
            </div>
            <div class="d-flex justify-content-between mb-3 mt-5">
                <div class="row">
                    <h4 class="text-primary"> Reading Time: {{ parameter_dictionary["spacy_summary_reading_time"] }} min</h4>
                </div>
                <div class="row">
                    <h4 class="text-danger"> Execution Time: {{ parameter_dictionary["spacy_summary_execution_time"] }} min </h4>
                </div>
            </div>
            <div class="p-3" style="background: rgb(239, 243, 255);">
                <h5> {{ parameter_dictionary["spacy_summary_output"] }} </h5>
            </div>
        </div>
        <div class="tab-pane" id="tab2contain">
            <br>
            <div>
                <h1 style="text-align: center;" class="mt-1 mb-3">NLTK Summary</h1>
            </div>
            <div class="d-flex justify-content-between mb-3 mt-5">
                <div class="row">
                    <h4 class="text-primary"> Reading Time: {{ parameter_dictionary["nltk_summary_reading_time"] }} min</h4>
                </div>
                <div class="row">
                    <h4 class="text-danger"> Execution Time: {{ parameter_dictionary["nltk_summary_execution_time"] }} min </h4>
                </div>
            </div>
            <div class="p-3" style="background: rgb(239, 243, 255);">
                <h5> {{ parameter_dictionary["nltk_summary_output"] }} </h5>
            </div>
        </div>
        <div class="tab-pane" id="tab3contain">
            <br>
            <div>
                <h1 style="text-align: center;" class="mt-1 mb-3">Sumy Summary</h1>
            </div>
            <div class="d-flex justify-content-between mb-3 mt-5">
                <div class="row">
                    <h4 class="text-primary"> Reading Time: {{ parameter_dictionary["sumy_summary_reading_time"] }} min</h4>
                </div>
                <div class="row">
                    <h4 class="text-danger"> Execution Time: {{ parameter_dictionary["sumy_summary_execution_time"] }} min </h4>
                </div>
            </div>
            <div class="p-3" style="background: rgb(239, 243, 255);">
                <h5> {{ parameter_dictionary["sumy_summary_output"] }} </h5>
            </div>
        </div>
        <div class="tab-pane" id="tab4contain">
            <br>
            <div>
                <h1 style="text-align: center;" class="mt-1 mb-3">SBERT Summary</h1>
            </div>
            <div class="d-flex justify-content-between mb-3 mt-5">
                <div class="row">
                    <h4 class="text-primary"> Reading Time: {{ parameter_dictionary["sbert_summary_reading_time"] }} min</h4>
                </div>
                <div class="row">
                    <h4 class="text-danger"> Execution Time: {{ parameter_dictionary["sbert_summary_execution_time"] }} min </h4>
                </div>
            </div>
            <div class="p-3" style="background: rgb(239, 243, 255);">
                <h5> {{ parameter_dictionary["sbert_summary_output"] }} </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}