{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block body %}
<div class="container p-5 mx-auto mt-5 rounded" style="background-image: linear-gradient(#639cff,#639cff);">
    <form action="#" method="POST" enctype="multipart/form-data">
        <div class="mb-3 container">
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <input type="file" style="background: rgba(255, 255, 255, 1.0);" class="form-control" name="file" required>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Summarize</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-lg mt-5" style="border-radius: 10px; border: 3px blue dotted; background: rgb(214, 222, 255);">
    <div class="row">
        <div class="col-md p-5" style="border-radius: 10px; border-right: 3px blue dotted;">
            <h3 style="text-align: center; font-weight: bold;" class="mt-1 mb-3">Input Text</h3>
            <h4>Reading Time: {{input_text_reading_time}} min</h4>
            <p>{{ input_text }}</p>
        </div>
        <div class="col-md p-5" style="border-radius: 10px; border-left: 3px blue dotted;">
            <h3 style="text-align: center; font-weight: bold;" class="mt-1 mb-3">Summarized Text</h3>
            <h4>Reading Time: {{ summarized_text_reading_time }} min</h4>
            <p>{{ summarized_text }}</p>
        </div>
    </div>
</div>
{% endblock %}